@import url('https://fonts.googleapis.com/css?family=Raleway|Lobster');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    display: grid;
    grid-template-columns: 0% auto 0%;
    grid-template-rows: 11vh 79vh 10vh;
    max-height: 100vh;
}
.nav, section,.footer {
    display: grid;
    font-family: raleway, arial;
}
.nav {
    position: fixed;
    grid-row-start: 1;
    grid-column-start: 1;
    width: 100%;
    grid-column-end: 3;
    grid-template-columns: 40% 60%;
    box-shadow: 2px 2px 10px rgba(1,1,1,0.2);
}
.nav ul {
    list-style: none;
    display:grid;
    padding:0px;
    margin:0px;
    grid-column-start:2; 
    grid-template-columns: 50% 50%;
}
.nav a {
    color: rgba(1,1,1,0.9);
    text-align: center;
    font-size:1.4em;
    text-decoration: none;
    display: grid;
    padding:0.4em;
}
.nav a i {
}
.section {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 5% auto;
}
.container {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 0px;
    font-family: raleway, arial;
}

#ridnois, #header {
    grid-row-start: 1;
    grid-column-end: 2;
    grid-column-start: 2;
    text-align: center;
    font-size: 3em;
    margin-bottom: 0.3em;
}
#subheder, #submessage {
    grid-row-start: 2;
    text-align: center;
    grid-column-start: 2;
    font-size: 1.5em;
    margin: 0px;
}
.footer {
    display: grid;
    min-height: 4em;
    grid-row-start: 3;
    grid-row-end: 3; 
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}
.footer a {
    margin: 1em;
    display: block;
    font-size:1.3em;
}
.auth #header {
    margin-bottom: 2em;
    font-size: 2em;
}
#ridnois {
    padding-top: 1em;
    font-family: lobster, arial;
}
#header {
    text-align: center;
}
.input-cont {
}
.input-cont form {
    width: 100%;
    margin: auto;
}
.input-cont input {
    width: 100%;
    font-size: 1.1em;
    border: solid 1px grey;
    text-align: center;
    margin: 0.5em 0px;
    border-radius: 5px;
    padding: 0.4em;
}
.auth {
    grid-row-start: 1;
}
#auth-btn {
    color: white;
    background: rgba(1,1,1,0.8);
    border:none;
    border-radius: 5px;
}
.dev {
    display:grid;
    grid-template-rows: 25% auto;
}
.message {
    color: rgba(1,1,1,0.8);
}