<!DOCTYPE html>
html(lang="en")
    head
        title!=title
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="./css/style.css", rel="stylesheet")
        link(href="./css/resp.css", rel="stylesheet")
        script(src="./js/view.js")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")