html
    include includes/head.pug
    body
        .section.auth
            .container
                h1#header!=message
                .input-cont
                    form(method="post", action="/login", id="register")
                        input(type="text",name="email",placeholder="Email")
                        input(type="password",name="pass",placeholder="Contraseña")
                        input(type="password",name="pass2",placeholder="Contraseña")
                        input(id="auth-btn",type="submit", value="submit")
                        p o 
                            a(href="#") Inicia sesion
        .footer
            a(href="./") Volver
                    