include includes/head.pug
body
    .nav
    .section
        .container.dev
            h2.head!= title
            h4.message!=content.message
            p.message Github
    .footer
        a(href="./") Volver