html
    include includes/head.pug
    body
        .nav
            a#logo Ridnois
            ul
                li
                li
                    a(href="./auth")
                        i(class="material-icons icon") home
        .section
            .container
                h1(id="ridnois", class="talker")!= message
                p(id="submessage") The amazing resource store
        .footer
            a Ridnois - 2018
        //script(src="./js/printer.js")